header {
  background: rgb(232, 154, 33);
  background: linear-gradient(
    0deg,
    rgb(242, 174, 72) 1%,
    rgba(255, 230, 0, 1) 100%
  );
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
header img {
  padding: 0 20px;
  height: 40px;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header li {
  padding: 10px;
}
a {
  color: white;
}
