header {
  color: black;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px;
}
header img {
  height: 40px;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header li {
  text-transform: uppercase;
  padding: 10px;
}
a {
  color: black;
}

header a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 630px) {
  header nav {
    display: none;
  }
}
