header {
  background-color: blanchedalmond;
  color: black;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.logo {
  max-height: 200px;
  background: transparent;
}

.ulheader {
  display: flex;
  justify-content: center;
  align-items: center;
}
header li {
  text-transform: uppercase;
  padding: 10px;
}
header a {
  color: black;
}

header a:hover {
  text-decoration: underline;
}

.abrir,
.cerrar {
  display: none;
}
@media screen and (max-width: 690px) {
  .abrir,
  .cerrar {
    background: none;
    border: none;
    display: block;
  }
  .navheader {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(57, 57, 57);
    padding: 20px;
    box-shadow: 0 0 0 100vmax rgba(108, 108, 108, 0.5);
  }
  .navheader.visible {
    opacity: 1;
    visibility: visible;
  }
  .ulheader {
    flex-direction: column;
    align-items: end;
  }
  .ulheader a {
    color: whitesmoke;
  }
  .cerrar {
    margin-right: 10px;
  }
}
