footer {
  background-color: inherit;
  max-height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer ul {
  display: flex;
}
.icon {
  height: 30px;
  width: auto;
  padding: 0 10px;
  transition: 0.2s;
}
.icon:hover {
  scale: 120%;
}
.icon.dark {
  filter: invert(100%);
}
