.divabout {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: auto;
  min-height: 80vh;
}

.textabout {
  justify-content: center;
  text-align: justify;
  max-width: auto;
  min-width: 350px;
  padding: 5%;
}
.coverabout {
  max-width: 60%;
  min-height: 80vh;
  width: auto;
  height: auto;
  object-fit: cover;
}

.h1about {
  text-transform: uppercase;
  font-size: 60px;
  padding-bottom: 30px;
}

@media screen and (max-width: 980px) {
  .divabout {
    justify-content: center;
    flex-direction: column;
    gap: 0px;
  }
  .coverabout {
    box-shadow: 0px 0px 40px 4px var(--primary-light);
    margin-bottom: 40px;
    max-width: none;
    min-height: auto;
    width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1/1;
  }

  .textabout {
    padding: 80px 20px;
    max-width: 60%;
  }
  .h1about {
    text-align: center;
  }

  .center {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column-reverse;
  }
}
