.coverhome {
  width: 100%;
  height: 80vh;
  padding: 0;
  object-fit: cover;
}
.divhome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.titlehome {
  filter: invert(100%);
  width: 70%;
  height: 100px;
  object-fit: cover;
  position: absolute;
}

@keyframes opacy {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes scale {
  from {
    width: 75%;
  }
  to {
    width: 70%;
  }
}
.titlehome {
  animation: opacy 4s, scale 5s;
}
